{% extends 'homeapp/base.html' %}

{% block title %}Início - EducApp{% endblock %}

{% block content %}
<header class="py-5" style="background: radial-gradient(circle at top right, #1e1e2e, #0f0f0f); min-height: 80vh; display: flex; align-items: center;">
    <div class="container text-center">
        <h1 class="display-3 fw-bold mb-4">Bem-vindo ao Portal Educ<span style="color: #6366f1;">App</span>.</h1>
        <p class="lead mb-5 text-secondary">Seu aplicativo gerenciador de cursos!</p>
    </div>
</header>
{% endblock %}