{% extends 'homeapp/base.html' %}

{% block title %}Sobre - EducApp{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-4">Sobre o EducApp</h1>
    <p>Projeto desenvolvido por alunos no processo de conclusão do programa Bolsa Futuro Digital - Capacitação 04 - Conecta e Capacita do CEPEDI (Centro de Pesquisa, 
        Desenvolvimento Tecnológico e Inovação) em parceria com o Ministério da Ciência, Tecnologia e Inovações - MCTI e a Softex.</p>
    
    <p>O EducApp é uma plataforma inovadora de gestão educacional, projetada para facilitar a administração de cursos, alunos e professores. 
        Nosso objetivo é transformar a experiência educacional, tornando-a mais eficiente, acessível e envolvente para todos os envolvidos.</p>
    
    <h2 class="mt-4">Nossa Missão</h2>
    <p>Nossa missão é fornecer uma solução completa e intuitiva para instituições de ensino, permitindo que elas se concentrem no que realmente importa: a educação. Acreditamos que a tecnologia pode ser uma aliada poderosa na melhoria da qualidade do ensino e na promoção do aprendizado.</p>
    
    <h2 class="mt-4">Recursos Principais</h2>
    <ul>
        <li><strong>Gerenciamento de Cursos:</strong> Crie e organize cursos de forma simples e eficiente.</li>
        <li><strong>Gestão de Alunos:</strong> Acompanhe o progresso dos alunos, registre notas e mantenha um histórico completo.</li>
        <li><strong>Administração de Professores:</strong> Gerencie as informações dos professores e suas atribuições.</li>
        <li><strong>Relatórios Detalhados:</strong> Gere relatórios personalizados para análise de desempenho e tomada de decisões.</li>
    </ul>

    <h2 class="mt-4">Contato</h2>
    <p>Se você tiver alguma dúvida ou quiser saber mais sobre o EducApp, não hesite em entrar em contato conosco. Estamos sempre prontos para ajudar!</p>

    <h2 class="mt-4">Equipe</h2>
    <ul>
        <li>Pedro Kislansky - Professor</li>
        <li>Jean Lima - Aluno Desenvolvedor Backend</li>
        <li>Larissa França - Aluna Desenvolvedora Frontend</li>
        <li>Yuri - Aluno Designer de UX/UI</li>
    </ul>
</div>
{% endblock %}